/assets export-ignore
/testing export-ignore
/templates export-ignore
.gitattributes export-ignore
.gitignore export-ignore
readme.md export-ignore
.DS_Store export-ignore
isotope.json export-ignore
/tests export-ignore
/inc/plugin-update/debug*.* export-ignore